@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #24010a;
    width: 600px;
    padding: 10px;
    margin:auto
}

body {
    background-image: linear-gradient(to right, #400112, #F20530);
}

h1 {
    color: #A60311;
    text-align: center;
    text-shadow: 1px 1px 2px #7c020c;
}

h2 {
    color: #F20530;
}

p {
    text-align: justify;
}
