@charset "UTF-8";

body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
h1 {
    background-color: darkblue;
    font-family: fantasy;
    font-size: 1.2em;
}
h2 {
    color: maroon;
}
p {
    text-align: justify;
}