@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    width: 600px;
    background-color: black;
    padding: 10px;
    margin: 10px auto 10px auto;
    box-shadow: 3px 3px 0px green;
}    

header > h1 {
    color: green;
}

main {
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0px;
    box-shadow: 3px 3px 1px black;
}

nav {
    background-color: rgb(68, 68, 68);
    padding: 3px;
    box-shadow: 2px 2px 0px green;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
    color: green;
}

article {
    background-color: lightgrey;
}

article > aside {
    background-color: green;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

h1 {
    box-shadow: 1px 1px 1px black;
}